<article id="feature">
    <div class="slideshow-container">
        <div class="slide-pic fade">
            <div class="number-text">1 / 3</div>
            <img src="/images/covercake-rect.jpg" style="width:100%">
            <div class="text_header">
                <h1>Sophistication.</h1>
                <h1>Elegance.</h1>
                <h1>Dope.</h1>
            </div>
            <div class="text"><span class="logo-font">Baked</span> — Bringing a sense of style and<br>community to the NYC baking family.</div>
        </div>
        <div class="slide-pic fade">
            <div class="number-text">2 / 3</div>
            <img src="/images/cupcakebaby.jpg" style="width:100%">
            <div class="alt_text_header">
                <h1 class="glow">It's </h1>
                <h1 class="glow">lit.</h1>
            </div>
            <div class="alt-text">Celebrate right. Ask about<br>our speciality cakes</div>
        </div>
        <div class="slide-pic fade">
            <div class="number-text">3 / 3</div>
            <img src="/images/classes-rect.jpg" style="width:100%">
            <div class="class-header">
                <h1>Community Baking</h1>
            </div>
            <div class="alt-text-2">Every Tuesday and Thursday.<br><br>Meet your neighbors and learn to cook some<br>otherworldly treats from the very best.</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</article>
<article id="sub-gallery">
    <div id="sub-pics">
        <a href="/cakes" class="sub-links"><div class="sub-good logo-font">
            <img class="sub-pic" src="/images/coconut-square.jpg" width="300" height="300">
            <h2>Cakes</h2>
        </div></a>
        <a href="/cookies" class="sub-links"><div class="sub-good logo-font">
            <img class="sub-pic" src="/images/chocolatechip-square.jpg" width="300" height="300">
            <h2>Cookies</h2>
        </div></a>
        <a href="/muffins" class="sub-links"><div class="sub-good logo-font">
            <img class="sub-pic" src="/images/cranberrymuff-square.jpg" width="300" height="300">
            <h2>Muffins</h2></a>
        </div>
    </div>
</article>
