<section id="search-view">
    <div id="the-search">
        <form action="/searchapi" method="post">
            <input type="text" name="id" placeholder="Search...">
            <select name="pick_an_option">
                <option value="quick_search">Random Recipes</option>
                <option value="by_treat">By Treat</option>
                <option value="by_ingredient">By Ingredient</option>
            </select>
            <input id="go-button" type="submit" value="&#x1F50D;">
        </form>
    </div>
</section>