//HEADER GALLERY
#feature {
    margin: 2.5em 0em 3em 0em;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide-pic {
    display: none;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text_header {
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    font-size: 225%;
    top: -25px;
    right: 38px;
    width: 100%;
    text-align: right;
    font-family: 'Permanent Marker', cursive;

    h1{
        margin-bottom: -60px;
    }
}

.alt_text_header {
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    font-size: 225%;
    top: -25px;
    right: 55px;
    width: 100%;
    text-align: right;
    font-family: 'Permanent Marker', cursive;

    h1{
        margin-bottom: -60px;
    }
}

.glow {
    text-shadow: 1px 1px 5px #f56a9f;
}

.text {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 250px;
    right: 38px;
    width: 100%;
    text-align: right;
}

.alt-text {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 180px;
    right: 13px;
    width: 100%;
    text-align: right;
}

.alt-text-2 {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 145px;
    right: -20px;
    width: 100%;
    text-align: center;
}

.class-header {
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    font-size: 225%;
    top: 160px;
    right: 225px;
    width: 100%;
    text-align: right;
    font-family: 'Permanent Marker', cursive;
}

.number-text {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}


//SUB GALLERIES

#sub-gallery {
    width: 77.5%;
    margin-bottom: 3em;
}

#sub-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    h2 {
        margin: 10px 0px;
    }
}

.sub-good:hover {
    filter: drop-shadow(16px 16px 20px purple) grayscale(50%);
}

// .sub-pic:hover {
//     filter: invert(75%);
// }

.sub-links {
    text-decoration: none;
    color: black;
}

//ANIMATIONS

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}