$brand-font:'Permanent Marker', cursive;
$brand-color: rgb(212, 181, 231);
$brand-color-transp: rgba(220, 207, 228, 0.555);

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#the-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("/images/aaea90b3.png")
}

header {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: $brand-color-transp;
    color: black;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#head-logo {
    margin: 10px 0;
    font-size: 225%;
}

.no-link {
    text-decoration: none;
    color: black;
}

.no-link:hover {
    text-shadow: 1px 1px 5px #b26af5;
}

.logo-font {
    font-family: $brand-font;
}

.sign-up-button {
    padding-right: 1em;
}

//DROPDOWN MENU
.dropbtn {
    background-color: $brand-color-transp;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: .5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: $brand-color;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(220, 207, 228);
}

//FOOTER
footer {
    // border-top: 3px purple solid;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brand-color-transp;
}

.footer-logo {
    margin-bottom: 0px;
    font-size: 250%;
}

#final-notes {
    text-align: center;
}

.footer-graphs {
    margin: 0px;
    font-size: 50%;
}

.end-line {
    padding-bottom: 1em;
}

.social-icon {
    width: 2em;
    filter: invert(100%);
}

#socials {
    padding-bottom: 1.5em;
}

#footer-column-container {
    width: 75%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo-socials-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    width: 50%;
}

//MAP

.map-text {
    text-align: center;
    margin-top: 2em;
}

.mapouter{
    text-align:right;
    height:250px;
    width:250px;
    margin: 1em;
    box-shadow: 1px 1px 9px #b26af5;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:250px;
    width:250px;
}

.map-container {
    margin-bottom: 1em;
}